<link rel="stylesheet" href="/CSS/dangnhap.css" />

<form class="container">
  <div class="form-group" style="text-align: center">
    <h3>ĐỔI MẬT KHẨU</h3>
  </div>
  <form>
    <div class="row mb-3">
      <label for="inputPassword3" class="col-sm-2 col-form-label"
        >Tên Đăng Nhập</label
      >
      <div class="col-sm-10" style="width: 500px">
        <input
          type="password"
          class="form-control"
          id="inputPassword3"
          ng-model="tenDangNhap"
        />
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputPassword3" class="col-sm-2 col-form-label"
        >Mật Khẩu</label
      >
      <div class="col-sm-10" style="width: 500px">
        <input
          type="password"
          class="form-control"
          id="inputPassword3"
          ng-model="matKhau"
        />
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputPassword3" class="col-sm-2 col-form-label"
        >Mật Khẩu Mới</label
      >
      <div class="col-sm-10" style="width: 500px">
        <input
          type="password"
          class="form-control"
          id="inputPassword3"
          ng-model="matKhauMoi"
        />
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputPassword3" class="col-sm-2 col-form-label"
        >Xác Nhận Mật Khẩu</label
      >
      <div class="col-sm-10" style="width: 500px">
        <input
          type="password"
          class="form-control"
          id="inputPassword3"
          ng-model="xacNhanMK"
        />
      </div>
    </div>
    <div class="row mb-3">
      <button type="submit " class="btn btn-primary" style="width: 120px">
        Xác Nhận
      </button>
      <button
        type="submit "
        class="btn btn-secondary"
        style="margin-left: 20px; width: 120px"
      >
        Hủy
      </button>
    </div>
  </form>
</form>
