<!doctype html>
<html lang="en">
  <head>
    <title>LAB45</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <h1 align="center">Nguyễn Quang Chinh Chiến </h1>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    
  <body ng-app="myapp">
    <div class="container">
        <!-- Họ và tên -->
      <div class="form-group">
        <label>Họ và tên</label>
        <input ng-model="student.fullname" class="form-control">
      </div>

      <!-- Ngày sinh -->
      <div class="form-group">
        <label>Ngày sinh</label>
        <input ng-model="student.birthday" class="form-control">
      </div>

      <!-- Giới tính -->
      <div class="form-group">
        <label>Giới tính</label>
        <select ng-model="student.gender" class="form-control">
            <option>Nam</option>
            <option>Nữ</option>
            <option>Không muốn trả lời</option>
        </select>
      </div>

      <!-- Điểm -->
      <div class="form-group">
        <label>Điểm</label>
        <input ng-model="student.mark" class="form-control">
      </div>

      <!-- Học lực -->
      <div class="form-group">
        <label>Học lực</label>
        <div value="{{grade}}" class="form-control alert-info">
            <p>{{grade}}</p>
      </div>
      <hr>
      <div class="form-group">
        <button class="btn btn-success" ng-click="save()">Kiểm tra</button>
        <button class="btn btn-danger" type="reset">Xóa</button>
      </div>

      <script>
        var app=angular.module("myapp",[]);
        app.controller("myctrl", function($scope){
            $scope.save = function save() {
                var a = parseFloat($scope.mark);
                if ( a < 5) {
                    $scope.grade = "Rớt";
                }else{
                    $scope.grade = "Đậu";
                }
            }
        });
    </script>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>